
# ignore everything
/*
/.**

# white list not to ignore
!/.gitconfig

!/README.md
!/.gitignore
!/.zshrc
!/.config
!/.config/nvim
!/.config/nvim/init.vim
!/.config/i3
!/.config/i3/config
!/.bin/
!/.bin/conky-i3bar
!/.conkyrc

